{% extends "base.html" %}
{% block head %}
<meta id="myViewport" name="viewport" content="width = 830">
{{ super() }}
{% endblock %}
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% block content %}

<div class="main-container">
    <div class="main wrapper">
	<div id="example-table"></div>
    </div>
    </div> <!-- #main -->
</div> <!-- #main-container -->

{% include "modal.html" ignore missing %}

{% block footer_scripts %}
<script type="application/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
{% endblock %}
